/*
bootstrap grid
*/
.row{
  display: flex;
}
/* 
    header
*/
*{padding: 0; margin: 0; box-sizing: border-box;}
header {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 30px;
  background-image: linear-gradient( 135deg,rgba(210, 88, 0, 0.847) 15%, #3200b0e4 100%);
	
}
h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
    min-height: 55px;
	margin-bottom: 10px;
    background: linear-gradient(rgb(150, 150, 150), white, rgb(150, 150, 150));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* 
footer
*/
footer div p{
  margin: 0em;
}
footer div{
  color: rgb(156, 156, 156);
  background-color: rgb(45, 45, 45);
  border-radius: 0px 0px 6px 6px;
}
#footer{
  background-image: linear-gradient(59deg, #3A6073,#16222A);
  min-height: 40px;
}
#footer h2{
  font: 500 18px 'Helvetica Neue, Helvetica, Arial, sans-serif';
  color: rgb(232, 232, 232);
}
#footer p{
  color: rgb(172, 172, 172);
  font: 500 14px 'Helvetica Neue, Helvetica, Arial, sans-serif';
  margin: 0px;
}
#footer div.row{
  margin: 0 -4px;
}
#footer div.row div{
  padding: 0 4px 0 4px;
}
#footer a i{
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  margin-right: 5px;
  color: #fff; }
  a.icoLinkedin :hover {
    background:rgb(9, 118, 180) ;}
/* #DD4B39 fa fa-google-plus
#55ACEE fa fa-twitter
#337ab7 faceb
fab fa-telegram-plane
sliders
*/
body {background-color: powderblue; width: 360px; border-radius:0px 0px 8px 8px ;}
div.container {min-height: 340px; padding: 10px 5px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
input[type='range'] {
  overflow: hidden;
  width: 280px;
  margin: 3px;
  -webkit-appearance: none;
  background-color: #a4a4a4;
}    
input[type='range']::-webkit-slider-runnable-track {
  height: 15px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 15px;
  cursor: ew-resize;
}
input#Rrange[type='range']::-webkit-slider-thumb{
    background: #cd0000;
    box-shadow: -250px 0 0 250px #ff4a4aba;
}
input#Grange[type='range']::-webkit-slider-thumb{
    background: #008500;
    box-shadow: -250px 0 0 250px #00d419;
}
input#Brange[type='range']::-webkit-slider-thumb{
    background: #0000ff;
    box-shadow: -250px 0 0 250px #2a83ff;
}
.R{ display: inline-block;}
.G{ display: inline-block;}
.B{ display: inline-block;}
}